@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã sinh viên: 2310900108</p>
    <p>Họ và tên: Bùi Thành Trung</p>
    <p>Ngày sinh: 11/05/2005</p>
    <p>Email: buitrung4212@gmail.com</p>
    <p>Điện thoại: 0969021769</p>
    <p>Lớp: K23CNT3</p>
</div>



