USE [master]
GO
/****** Object:  Database [BuiThanhTrung_2310900108]    Script Date: 7/2/2025 9:15:20 AM ******/
CREATE DATABASE [BuiThanhTrung_2310900108]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuiThanhTrung_2310900108', FILENAME = N'D:\hoc tap\hoc tap\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BuiThanhTrung_2310900108.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuiThanhTrung_2310900108_log', FILENAME = N'D:\hoc tap\hoc tap\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BuiThanhTrung_2310900108_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuiThanhTrung_2310900108].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuiThanhTrung_2310900108]
GO
/****** Object:  Table [dbo].[BttEmployee]    Script Date: 7/2/2025 9:15:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BttEmployee](
	[bttEmpId] [int] NOT NULL,
	[bttEmpName] [nvarchar](100) NULL,
	[bttEmpLevel] [int] NULL,
	[bttEmpStartDate] [date] NULL,
	[bttEmpStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[bttEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
