@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p>Mã sinh viên: 2310900108</p>
    <p>Họ và tên: Bùi Thành Trung</p>
    <p>Email: buitrung4212@gmail.com</p>
    <p>Điện thoại: 0969021769</p>
    <p>Lớp: K23CNT3</p>
</div>
